.body-Landing_Page
{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-container-login
{
  width: 80%;
  height: 80%;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.2); /* Tạo bóng mờ */
  border-radius: 20px;
  display: flex;
  flex-direction: row;

}
.left-container-login
{
  flex: 1;
  display: grid;
  grid-template-rows: 30% 10% 10% 10% 20%;
  gap: 20px;
  padding: 20px 60px;
  
}
.left-container-login header
{
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: left;
}
.input
{
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.input input
{
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  width: 100%;
}
.line
{
  height: 2px;
  background-color: #ddd4d4;
  position: absolute;
  bottom: 0px;
  width: 100%;
  
}
.left-container-login button
{
  border-radius: 10px;
  width: 150px;
  height: 65px;
  background-color: #5d9bd5;
  color: white;
  border: none;
}
.left-container-login button:hover
{
  cursor: pointer;
  scale: 1.1;
}
.kk
{
  display: flex;
  align-items: center;
}
.remember
{
  display: flex;
  align-items: center;
  text-align: left;
  gap: 5px;
  letter-spacing: 1px;
}
.remember input
{
  
}
.remember input[type="checkbox"] { 
  width: 15px; 
  height: 15px; 
  background-color: #ffffff; 
  border: 1px solid #000; 
  border-radius: 3px; 
  position: relative; 
  cursor: pointer; 
}
.remember input[type="checkbox"]:checked::before { 
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #000;  
  border-radius: 3px; 
  background-color: #15d53f;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 8px;
  border: 1px solid #ffffff; 
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
.right-container-login
{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;

}
.right-container-login img
{
  width: 80%;
  height: 80%;
}