/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header label {
    font-size: 14px;
    color: #555;
}

.header select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: normal;
}

.table th {
    background-color: #007bff;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #d1e7dd;
}

.table .text-primary {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    background-color: #343a40;
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    flex: 1;
    padding: 0 20px;
}

.footer .footer-left img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.footer .footer-center,
.footer .footer-right {
    text-align: center;
}

.footer .footer-right {
    text-align: right;
}

.footer .info {
    color: #cbd3da;
}

.footer .info span {
    font-weight: bold;
}

.footer .info a {
    color: #cbd3da;
}

.statistics-container {
    margin: 20px 0;
    background-color: #ffffff;
    border-radius: 8px;
    display: inline-flexbox;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.statistics-table {
    width: 100%;
    border-collapse: collapse;
}

.statistics-table th,
.statistics-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.statistics-table th {
    background-color: #007bff;
    color: white;
}

.statistics-table tr:hover {
    background-color: #d1e7dd;
}

.report {
    cursor: pointer;
    text-decoration: underline;
}
.cancel{
    background-color: #cbd3da;
    border-radius: 15px;
    border: 2px solid #cbd3da;
    padding: 10px 20px;
    cursor: pointer;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;

}